.productCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 8px;
  background-color: rgb(245, 245, 245, 1);
  border-radius: 8px;
}

.productCardContainer:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.productImage {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.productCardInfo {
  padding: 16px;
}

.productCardInfo p {
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

.productTitle {
  font-weight: 600;
  font-size: 1.2rem;
}
