.itemContainer {
  display: flex;
  flex-direction: row;
}

.itemContainer p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.imagePlaceholder {
  height: 150px;
  width: 225px;
  background-color: white;
}

.itemInfo {
  padding-left: 32px;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.subtractButton {
  background-color: white;
  color: rgb(183, 183, 183);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  margin-right: 12px;
}

.addButton {
  background-color: white;
  color: rgb(183, 183, 183);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  margin-left: 12px;
}

.subtractButton:hover {
  background-color: rgb(234, 234, 234);
  transition: ease 0.2s;
  cursor: pointer;
}

.addButton:hover {
  background-color: rgb(234, 234, 234);
  transition: ease 0.2s;
  cursor: pointer;
}

.deleteIcon {
  height: 1rem;
  width: 1rem;
  margin-left: 24px;
}

.deleteIcon:hover {
  cursor: pointer;
}
